
nav{
    width: 500px;
    background-color: #090000;
    min-height: 40px;

}

nav ul {
    display: flex;


}

nav ul li {
   margin: 0 20px;
   list-style: none;
}

nav ul li a {

color: aliceblue;
text-decoration: none;

}